// Primary colors
$grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);

// Neutral colors
$white: hsl(0, 0%, 100%);
$dark-blue: hsl(236, 21%, 26%);
$darker-blue: hsl(235, 16%, 14%);
$dark: hsl(234, 17%, 12%);

// Fonts
$font-size: "14px";
$font-family: "Red Hat Text";
$font-weight: 700;
